@import "../../essential";
@import "bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "variables";
@import "bootstrap/mixins";
@import "mixins";

// Font Faces
@import "fonts/fonts";

// CSS Reset
@import "bootstrap/reset";

// Styled patterns and elements
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/forms";
@import "bootstrap/tables";

// Alert Styles
@import "bootstrap/alerts";

// Components: common
@import "bootstrap/sprites.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/wells.less";
@import "bootstrap/component-animations.less";
@import "bootstrap/close.less";

//For more check out bootrap.less

[role=template] {
	position:absolute;
	visibility: hidden;
}

.leftSide section {
	position: absolute;
	top:0; bottom:0;
	overflow: hidden;
	transition: left .3s, right .3s, width .3s;
}

.leftSide section .content {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  visibility: hidden;
  height: 100%;
}
.leftSide section.state-expanded .content { visibility: visible; }

.leftSide section.left {
	padding-left: 20px;
}
.leftSide section.right {
	padding-right: 20px;
}

.leftSide section button[rel=adornment] {
	position: absolute;
	top: 0;
}

// .leftSide section.mock-table .content {
//   min-width: 400px;
// }


.leftSide .mock-navigate {
  border: 1px solid black;
}
.leftSide .mock-detail {
  border: 1px solid black;
}

.leftSide .panel {
	position: absolute;
	top: 20px;
	bottom: 0; left:0; right:0;
}

.dialog-content table td {
	width: 3em; text-align: center;
}

[role=dialog] {
	position: fixed;

	//top:100px; left:100px;
	z-index: 500;

	background-color: white;

	border: 1px solid #aaa;

	.box-shadow(8px 8px 12px rgba(50, 50, 50, 0.4));

	&.state-active {
		z-index: 600;
	}

	> header {
		position:relative;
		width: 100%;
		height: 20px;
		border-bottom: 1px solid #bbb;
		margin-bottom: 6px;
		cursor: default;

		h5 {
			padding: 3px;
		}

		[name=close] {
			position: absolute;
			top:0; right:0;
			height: 100%;
			background: transparent;
			border: 0;
			line-height: 1em;
		}
	}

	.dialog-content {
		/* change selector to allow role to be changed */
		top-margin: 20px;
		position: relative;
		min-width: 200px;
		min-height: 40px;
		overflow-y: auto; //TODO scrolled

		table {
			margin: 1em;
		}
	}
}

